<!doctype html>

<html lang="en" ng-app="myApp">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=1024" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Demo 2</title>
  <link href="../../bower_components/bootstrap-css/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../src/angular-impress.css">
  <link href="style.css" rel="stylesheet" />
</head>

<body ng-controller="MyController as vm">

  <div class="jumbotron">
    <div class="container">
      <h1>angular-impress</h1>
      <p>
        Work in progress ...
      </p>
      <p>
        Github: <a target="_blank" href="https://github.com/McNull/angular-impress">https://github.com/McNull/angular-impress</a>
      </p>
      <div class="btn-toolbar">
        <button class="btn btn-default" ng-click="vm.impress.prev()"><span class="glyphicon glyphicon-arrow-left"></span> Previous</button>
        <button class="btn btn-default" ng-click="vm.impress.next()"><span class="glyphicon glyphicon-arrow-right"></span> Next</button>
        <button class="btn btn-default" ng-click="vm.addStep()"><span class="glyphicon glyphicon-plus"></span> Add Step</button>
        <button class="btn btn-primary" ng-click="vm.randomizeAll()"><span class=""></span> Randomize All</button>
        <button class="btn btn-danger" ng-click="vm.removeAll()"><span class=""></span> Remove All</button>
      </div>
  
    </div>

  </div>

  <impress id="my-impress" class="impress-container">


    <impress-step class="slide" ng-repeat="step in vm.steps" step="step">
      <!--<h1 class="text-center">{{ step.caption }}</h1>-->

      <button class="btn btn-sm btn-close btn-danger" ng-click="vm.removeStep(step)">X</button>

      <form class="form-horizontal" novalidate>
        
        <legend>{{ step.caption }}</legend>
        
        <div class="form-group">
          <label class="col-xs-2 control-label">Translate</label>
          <div class="col-xs-2">
            <input required type="number" class="form-control input-sm" step="0.1" ng-model="step.translate.x">
          </div>
          <div class="col-xs-2">
            <input required type="number" class="form-control input-sm" step="0.1" ng-model="step.translate.y">
          </div>
          <div class="col-xs-2">
            <input required type="number" class="form-control input-sm" step="0.1" ng-model="step.translate.z">
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label">Rotate</label>
          <div class="col-xs-2">
            <input required type="number" class="form-control input-sm" step="0.1" ng-model="step.rotate.x">
          </div>
          <div class="col-xs-2">
            <input required type="number" class="form-control input-sm" step="0.1" ng-model="step.rotate.y">
          </div>
          <div class="col-xs-2">
            <input required type="number" class="form-control input-sm" step="0.1" ng-model="step.rotate.z">
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label">Scale</label>
          <div class="col-xs-2">
            <input required type="number" min="0.1" class="form-control input-sm" step="0.1" ng-model="step.scale">
          </div>
          <label class="col-xs-2 control-label">Order</label>
          <div class="col-xs-2">
            <input required type="number" class="form-control input-sm" ng-model="step.order">
          </div>
        </div>

        <!--<pre><code>{{ step | json }}</code></pre>-->
        <div class="form-group">
           <div class="col-xs-offset-2 col-xs-10">
             <button class="btn btn-primary" ng-click="vm.randomize(step)">Randomize</button>
           </div>
        </div>
      </form>
      <br>

      
    </impress-step>
  </impress>

  <script src="../../bower_components/angular/angular.js"></script>
  <!--<script src="../../dist/angular-impress.min.js"></script>-->

  <script src="../../src/angular-impress-api.js"></script>
  <script src="../../src/angular-impress-utils.js"></script>
  <script src="../../src/angular-impress-navigation.js"></script>
  <script src="../../src/angular-impress.js"></script>
  <script src="script.js"></script>
</body>

</html>