.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;
    transition:         all 1s;
}

.impress-enabled .step.active { 
  opacity: 1;
  z-index: 10;
}

.slide {
    display: block;
    width: 900px;
    overflow: hidden;
    text-overflow: ellipsis;    
    padding: 40px 60px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    color: rgb(102, 102, 102);
    
}

#my-impress {
  border: 1px solid;
  margin: 10px;
  height: 400px;
  background-color: #eee;
}

.btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
}